@tailwind base;
@tailwind components;
@tailwind utilities;
/* reset */
*,::after,::before{box-sizing:border-box}*{margin:0}body{line-height:1.5;-webkit-font-smoothing:antialiased}canvas,img,picture,svg,video{display:block;max-width:100%}button,input,select,textarea{font:inherit}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}

/* basics */
body {
    background-color: #f0f0f0;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;
}

/* typography */
h1, h2, p {
    line-height: 1.5rem;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

@media (min-width: 80rem) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2rem;
    }
}

.link:link, .link:visited {
    color: #ec008c;
    text-decoration: none;
}

.link:hover, .link:active {
    color: #a20060;
}

/* containers */
.inner {
 @apply px-5 lg:mx-auto max-w-screen-xl
}

@media (min-width: 80rem) {
    .inner {
        width: 76rem;
    }
}

/* header */
header img {
    width: 7rem;
}

@media (min-width: 60rem) {
    header img {
        width: 9rem;
    }
}

/* nav */
nav {
    background-color: #d0d0d0;
}

nav .inner {
    color: black;
}

nav a {
    display: block;
    padding: 1rem 0;
}

/* main content */
main {
    background-color: #fff;
}

/* product grid */
.product-grid{
    @apply sm:grid sm:grid-cols-2 lg:grid-cols-4 pb-lg sm:gap-5;
}
.product-grid-card{
    @apply card-body link  transition-all duration-300 hover:-translate-y-1 max-sm:mb-4 last:max-sm:mb-0 bg-white shadow-md rounded;
}

/* product page */



/* Carousel */

.carousel-buttons-container{
  @apply absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between;
}
.carousel-button-default{
   @apply btn btn-circle bg-secondary;
}

.carousel-button-disabled{
    @apply opacity-50 cursor-default hover:bg-secondary border-none;
    pointer-events: none;
}

/* Buttons */
.btn-primary {
    @apply bg-primary text-black border-black hover:bg-black hover:text-primary hover:border-primary;
}
.btn-secondary {
    @apply bg-secondary text-white border-white hover:bg-white hover:text-secondary hover:border-secondary;
}

.btn-accent{
    @apply bg-white text-black border-black hover:bg-black hover:text-white hover:border-white;
}


.divider{
    @apply after:bg-primary before:bg-primary;
}